$background-color: #fafafa;
$them-background-color: #f1f1f1;

$text-color: #212121;
$muted-text-color: #656565;

$border-color: #dfe3e8;
$shadow-color: #81c1f6;

$them-color: #1e6ee5;
$link-color: #0d47a1;

$error-color: #e91e62df;
$background-error-color: #fce4ec49;

$succes-color: #009688;
$background-succes-color: #c4e7e462;
