@import './varables';

.container {
  height: 90dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: $them-color;
  font-weight: 900;
  font-size: 1.3rem;
}

.inputsContainer {
  padding: 16px;
  margin-top: 25px;
  width: 100%;

  input:first-child {
    margin-bottom: 10px;
  }

  .passinp {
    position: relative;

    .eye {
      position: absolute;
      right: 10px;
      top: 40%;
      transform: translateY(-50%);
    }
  }

  .messageContteiner {
    margin-top: 20px;

    .message {
      font-size: 0.8rem;
      color: $muted-text-color;
      font-weight: 600;
      display: block;

      &::before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: $text-color;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}

.linksContainer {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: $them-color;
    color: #fff;
    width: 100%;
    padding: 11px;
    font-weight: 900;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  a,
  .link {
    padding: 0;
    border-radius: 0;
    font-size: 1rem;
    background-color: inherit;
    color: $link-color;
    font-weight: 500;
  }
}
