@import './varables';

.container {
  margin-bottom: 16px;
  position: relative;
  width: 200px;

  .bookmark {
    background-color: #ffffff98;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delete {
    @extend .bookmark;
    right: 0px;
    left: 10px;
  }

  .name {
    font-weight: 900;
  }

  .imageContainer {
    border-radius: 15px;
    width: 200px;
    height: 220px;
    overflow: hidden;
    background-color: $them-background-color;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: fit-content;
      height: 100%;
    }
  }

  .ratingAndDiscount {
    margin: 3px 0;
    display: flex;
    align-items: center;

    & > * {
      width: 50%;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 50%;
    }
  }

  .discountedPrice {
    display: flex;
    gap: 15px;

    .lastPrice {
      text-decoration: line-through;
      opacity: 0.7;
      border-right: 1px solid $border-color;
      padding-right: 6px;
    }
    .discount {
      color: $error-color;
      text-shadow: 0 0 10px $error-color;
      border-radius: 10px;
      text-align: center;
    }
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 170px;

    .imageContainer {
      width: 100%;
      overflow: hidden;

      img {
        width: fit-content;
        height: 100%;
      }
    }
  }
}
