.container {
  width: 100%;
  height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  img {
    width: 200px;
    opacity: 0.8;
  }

  p {
    width: 300px;
    margin-top: 6px;
  }
}
