@import './varables';

.formLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
  margin: 3em auto;

  h4 {
    margin-bottom: 2em;
  }

  input,
  button,
  .inp {
    background-color: #ffffff1a;
    color: $textColor;
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
  }
  .inp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-right: 10px;
    margin-top: 10px;

    input {
      background-color: transparent;
      margin: 0;
    }
  }

  button {
    background-color: $themColor;
    color: #fff;
    font-weight: 900;
    margin-top: 1em;
  }

  a {
    color: #3060ff;
    font-size: 0.9rem;
    margin-top: 2em;
  }
}
