@import './varables';

.userInfo {
  margin: 1em auto;
  text-align: center;
  display: flex;
  gap: 1em;
  padding: 1em;
  border-bottom: 0.6px solid $borderColor;

  div {
    background-color: $themBackground;
    width: 16px * 3;
    height: 16px * 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $borderColor;
  }

  h5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.links {
  margin-top: 1em;
  display: flex;
  flex-direction: column;

  a,
  button {
    background-color: inherit;
    color: $textColor;
    border: none;
    outline: none;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
    padding: 16px;
    border-bottom: 0.8px solid $borderColor;
  }

  .logout {
    color: #ff002f;
    font-weight: 900;
  }
}
