@import '../../src/styles/varables';

.header {
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rd;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 4;
  border-bottom: 0.5px solid $borderColor;

  .buttons {
    display: flex;
    gap: 0.6em;
  }

  button {
    background-color: inherit;
    border: none;
    outline: none;
    color: $textColor;
  }

  a {
    background-color: $themBackground;
    border: 0.11px solid $borderColor;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}
